a{
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    font-weight: 800;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    width: 100rem;
}
a:hover{
    background-color: black;
    color: white;
}
.gituu{
    color: rgb(22, 1, 20);
    background-color: rgb(196, 209, 219);
}
a.emb{
    max-width: 50%;
}
ul{
    list-style: none;
    padding: 0px;
}
.nav{
    float: left;
    width: 20%;
}